{% extends 'base.html.twig' %}

{% block title %}Tableau de bord Responsable{% endblock %}

{% block body %}
    <h1>Liste des employé(e)s de statut 0 et nom Castaing</h1>

    {% if emps is not empty %}
        <table border="solid 1">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in emps %}
                    <tr>
                        <td>{{ emp.nom }}</td>
                        <td>{{ emp.prenom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h1>Recherche par nom et prénom</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.rechercher) }}
    {{ form_end(form) }}

    {% if insc is not empty %}
        <h2>Résultats de la recherche</h2>
        <table border="solid 1">
            <thead>
                <tr>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                {% for i in insc %}
                    <tr>
                        <td>{{ i.statut }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
